.filled-button{
  background: #2F2F2F;
  color: #FFFCFC;
  text-align: center;
  width: 150px;
  height: 25px;
  border-radius: 6px;
}

.empty-button{
  background: #FFFCFC;
  text-align: center;
  width: 130px;
  height: 26px;
  border: 3px #2F2F2F solid;
  border-radius: 6px;
}

.but {
  width: 23px;
  height: 23px;
  background: #FFFCFC;
  text-align: center;
  border: 3px #2F2F2F solid;
  border-radius: 6px;
  margin: 1px;
}
