<div class="content-container">
  <div class="text">
      <h1 class="title">EduTest</h1>
      <p class="description">перевіряй знання ефективно</p>
      <div class="buttons">
        <button class="distance empty-button" [routerLink]="'/entrance'" >Увійти</button>
        <button class="filled-button" [routerLink]="'/registration'">Зареєстуватись</button>
      </div>
  </div>

  <div class="scenery">
    <img class="green-ball" src="assets/green-ball.png" alt="green-ball"/>
    <img class="pink-ball" src="assets/pink-ball.png" alt="pink-ball"/>
  </div>
</div>
