.subject-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  gap: 20px;
  width: 100%;
  margin-top: 50px;
  z-index: 1;
}

.form-container {
  display: flex;
  width: 100%;
  height: 170px;
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: #D9D8D7;
  color: #FFFCFC;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img, p {
  margin: 7px;
  text-align: center;
}


.subjects-list {
  display: contents;
  position: relative;
}

.subject-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.subject-item {
  height: 170px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px; /* Округлі кути */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для об'ємності */
  transition: transform 0.3s, box-shadow 0.3s; /* Анімація при наведені */
  z-index: 1;
}



.subject-item:hover {
  transform: translateY(-5px); /* Підняття елемента */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Посилення тіні */
}

.subject-container .form:nth-child(1),
.subject-container .subject-item:nth-child(2) {
  grid-column: span 1;
}

.subject-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ellipsis {
  cursor: pointer;
  font-size: 20px;
}

.menu {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu span {
  cursor: pointer;
  padding: 5px;
  text-align: left;
}

.menu span:hover {
  background-color: #f1f1f1;
}


/* Розмитий фон */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Зменшено прозорість */
  backdrop-filter: blur(3px); /* Легке розмиття */
  z-index: 888;
}



.subject-item input {
  width: 80%;
  padding: 6px;
  font-size: 16px;
  border: 2px solid #d1d1d1;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.subject-item input:focus {
  border-color: rgba(34, 34, 37, 0.91);
}

.subject-item button {
  width: 120px;
  justify-content: center;
}

.subject-item .first-button {
  width: 100px;
  background-color: transparent;
  margin-right: 10px;
}

.title-group{
  font-size: 12px;
  text-align: center;
}

.edit-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}



@media (max-width: 768px) {
  .subject-container {
    grid-template-columns: repeat(2, 1fr); /* Дві колонки на менших екранах */
  }
}

@media (max-width: 480px) {
  .subject-container {
    grid-template-columns: 1fr; /* Одна колонка на дуже малих екранах */
  }
}
