
<div class="entrance-container">
  <pages-header></pages-header>

  <div class="title">
    <p class="first-title-line">Вітання!</p>
    <p class="second-title-line">Внесіть Ваші дані, щоб продовжити</p>
  </div>

  <div class="content">
    <div class="scenery">
      <img class="pink-ball" src="assets/pink-ball.png" alt="pink-ball"/>
    </div>

    <div class="entrance-form">
      <div class="entrance-form-content container-border">
        <form [formGroup]="entranceForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Введіть Ваше прізвище та ім'я</label>
            <input type="text" id="name" formControlName="name" class="form-input">
            <div *ngIf="entranceForm.get('name')?.invalid && entranceForm.get('name')?.touched">
              <small class="error-text">Це поле є обов'язковим</small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Введіть Ваш пароль</label>
            <input type="password" id="password" formControlName="password" class="form-input">
            <div *ngIf="entranceForm.get('password')?.invalid && entranceForm.get('password')?.touched">
              <small class="error-text">Пароль повинен містити мінімум 6 символів</small>
            </div>
          </div>

          <button type="submit" class="filled-button" [disabled]="entranceForm.invalid">Увійти</button>
        </form>
      </div>
    </div>

    <div class="scenery">
      <img class="green-ball" src="assets/green-ball.png" alt="green-ball"/>
    </div>
  </div>
</div>
